.lang {
  width: 37px;
  max-height: 24px;
  display: flex;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-family: var(--font-sans);
  color: var(--color-text-segment);
  font-weight: var(--fw-semibold);

  &.active_btn {
    background: var(--color-active-segmentent-btn);
    font-size: var(--fs-overline);
    padding: 6px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-surface);
  }
}
