.pageContainer {
  display: flex;
  flex-direction: column;
}

.bannerContainer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.projects_section,
.news_section {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 40px var(--container-padding);
}
