.hero {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
.image {
  width: 1440px !important;
  display: block;
}

.content {
  max-width: max-content;
  position: absolute;
  margin: 0 0 18px;
  top: 550px;
  left: 50px;
}
.badge_color {
  background: #c9682f !important;
  color: #ffffff !important;
  padding: 7px 14px !important;
}
.text {
  color: #fff;
  font: var(--fw-bold) var(--fs-h1) / var(--lh-h1) var(--font-serif);
  margin: 0 0 14px;
}
.text1 {
  color: #ded8d1;
  font: var(--fw-regular) var(--fs-body) / var(--lh-body) var(--font-sans);
  margin: 0 0 22px;
}
.btn {
  display: flex;
  gap: 15px;
}
.btnbg {
  background: transparent !important;
  border: 1px solid #e6e1db !important;
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  font: var((--fw-bold) var(--fs-body) / var(--lh-overline) var(--font-sans));
}
.btn1 {
  background: oklch(0.64 0.17 45);
  color: rgb(255, 255, 255);
  padding: 14px 24px;
  border-radius: 10px;
  font: var((--fw-bold) var(--fs-body) / var(--lh-overline) var(--font-sans));
}
