.card {
  width: 350px;
  background: #ffffff;
  border: 1px solid #e6e1db;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__image {
  width: 100%;
  height: 260px;
  }

  &__content {
  padding: 15px;  
   }

    &__date {
    margin-left: 10px;
    color: #5f6470;
     --font-card-title: var(--fw-semibold) var(--fs-card-title) /
    var(--lh-card-title) var(--font-serif);
  }

  &__title {
    margin-top: 20px;
    --font-card-title: var(--fw-semibold) var(--fs-card-title) /
    var(--lh-card-title) var(--font-serif);
    color: #2a241e;
     overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &__description {
    margin-top: 15px;
    font-size: 13.5px;
    color: #2a241e;
     --font-card-title: var(--fw-semibold) var(--fs-card-title) /
    var(--lh-card-title) var(--font-serif);
     overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}